<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="#" id="confirm_change">
        <div>
            <label for="current">Current Password</label>
            <input type="password" name="current_password" id="current_password">
        </div>

        <div>
            <label for="new_password">New Password</label>
            <input type="password" name="new_password" id="new_password">
        </div>

        <input type="submit" value="Change">
    </form>
    <script src="/js/utils"></script>
    <script src="/js/passwordreset"></script>
</body>

</html>