<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="#" id="sendCodeFrm">
            <p>Verify Your Email</p>
            <input type="email" id="auth_email" placeholder="your email [email@example.com]" required>
            <button type="submit" id="send_code">Send Code</button>
        </form>
    </div>

    <div>
        <form action="#" id="verifyCodeForm">
            <p>Enter the verification code</p>
            <input type="number" id="verification_code" required>
            <button type="submit" id="verifyBtn" disabled="true">Verify</button>
        </form>
    </div>
     

    <script src="/js/utils"></script>
    <script src="/js/reset"></script>
</body>

</html>