<div>
    <% if (userId !=null) { %>
        <div id="setid" style="scale: 0;"><%= userId %></div>
        <% } %>
</div>

<script>
    if (document.readyState == "loading") {
        document.addEventListener("DOMContentLoaded", main);
    }
    else {
        main();
    }

    function main() {
        const userId = document.getElementById("setid").textContent.trim();
        const expiration_date = Date.now() + 604_800
        const authObj = {
            isLoggedIn: true,
            userId: userId,
            expiration: expiration_date
        }
        localStorage.setItem("loginState", JSON.stringify(authObj));
        localStorage.setItem("loginNotification", JSON.stringify({ count: 1 }));
                
        location.href = "/"
    }
</script>