<div>
    <form action="/update/gender" method="post">
        <input type="hidden" name="userId" value="<%= userId %>">
       <fieldset>
        <legend>Gender</legend>

        <label for="male">Male</label>
        <input type="radio" name="gender" id="male" value="male">

        <label for="female">Female</label>
        <input type="radio" name="gender" id="female" value="female">
       </fieldset>

       <fieldset>
        <legend>Date of Birth</legend>
        <label for="dob">DOB</label>
        <input type="date" name="dob" id="dob">
       </fieldset>

       <input type="submit" value="Next">
    </form>
</div>