<div id="display_section" class="central_main">
    <section id="profile" class="profile">
        <h2 class="section-title">Video Quality and Playback</h2>
        <div class="privacy_checklist">
            <ul class="list_container">
                <li>
                    <div class="list-des">
                        <p>Preferred video quality</p>
                        <small>choose preferred video quality <br>(enable for high definition (HD), disable for standard
                            definition (SD))</small>
                    </div>
                    <div class="action-btn">
                        <button type="button" data-Status="enabled" id="quality">Enable</button>
                    </div>
                </li>
                <li>
                    <div class="list-des">
                        <p>Adaptive bitrate streaming</p>
                        <small>enable adaptive bitrate streaming, <br> which automatically adjusts the quality <br> based on internet connection speed. (enabled)</small>
                    </div>
                    <div class="action-btn">
                        <button type="button" data-Status="disabled" id="bitrate">Disable</button>
                    </div>
                </li>
                <li>
                    <div class="list-des">
                        <p>Automatic playback</p>
                        <small>automatically play the next video in a playlist or queue</small>
                    </div>
                    <div class="action-btn">
                        <button type="button" data-Status="enabled" id="playback">Enable</button>
                    </div>
                </li>
                <li>
                    <div class="list-des">
                        <p>Data saver mode</p>
                        <small>Provides a data saver mode that <br> reduces the amount of data used while streaming
                            videos</small>
                    </div>
                    <div class="action-btn">
                        <button type="button" data-Status="enabled" id="data-saver">Enable</button>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section id="privacy" class="privacy">
        <h2 class="section-title">Subtitles and Closed Captions</h2>
        <div class="privacy_checklist">
            <ul class="list_container">
                <li>
                    <div class="list-des">
                        <p>Enable/disable subtitles</p>
                        <small>turn subtitles and closed captions on or off</small>
                    </div>
                    <div class="action-btn">
                        <button type="button" data-Status="disabled" id="subtitle">Disable</button>
                    </div>
                </li>
                <li>
                    <div class="list-des">
                        <p>Closed caption format</p>
                        <small>enable for CEA-608, disable for WebVTT.</small>
                    </div>
                    <div class="action-btn">
                        <button type="button" data-Status="disabled" id="cc-format">Disable</button>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section id="privacy" class="privacy">
        <h2 class="section-title">Theme</h2>
        <div class="privacy_checklist">
            <ul class="list_container">
                <li>
                    <div class="list-des">
                        <p>Toggle Dark Theme</p>
                        <small>enable for dark theme</small>
                    </div>
                    <div class="action-btn">
                        <button type="button" data-Status="enabled" id="theme">Enable</button>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="/js/display-settings" defer></script>
