<div id="account_section" class="central_main">
    <section id="profile" class="profile">
        <h2 class="section-title">Subscription Overview</h2>
        <div class="privacy_checklist">
            <ul class="list_container">
                <li>
                    <div class="list-des">
                        <p>Current plan</p>
                        <small>You are currently on a free plan</small>
                    </div>
                    <div class="action-btn">
                        <button type="button" id="2fa">Choose a Plan</button>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>