<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/main">
    <link rel="stylesheet" href="/css/global-header">
    <link rel="stylesheet" href="/css/global-footer">
    <title>Document</title>
</head>

<body>
    <%- include('layouts/global/header') %>
    
    <main>
        <section class="left-sidenav"><!-- This will be the left navigation --></section>
        <section class="wrapper-main"><!-- this is where the videos will be --></section>
    </main>
    
    <%- include('layouts/global/footer') %>
    <script src="/js/utils"></script>
</body>

</html>