@media (min-width: 768px) {


    header {
        display: grid;
        grid-auto-flow: column;
        gap: 10px;
        padding: 5px;
        border-bottom: 1px solid rgb(235, 233, 233);
    }

    header div.profile-nav {
        display: block;
        position: relative;
        cursor: pointer;
    }

    header div.profile-nav .current-user {
        width: 210px;
        border: 1px solid transparent;
        border-radius: 1rem;
        padding: 5px 0;
        margin-left: 15px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    header div.profile-nav .current-user img.big_img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 2rem;
        z-index: 9999;
    }

    header div.profile-nav .current-user:hover {
        background-color: rgb(251, 252, 252);
        border: 1px solid rgb(199, 192, 192);
    }

    h2#current-user-name {
        font-size: 18px;
        font-weight: 500;
    }

    header div.profile-nav div.profile-action-buttons {
        position: absolute;
        top: 60px;
        left: 1px;
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        cursor: pointer;
        background-color: rgb(250, 251, 252);
        box-shadow: var(--box-shadow-thin);
        z-index: 9999;

    }

    header div.profile-nav div.profile-action-buttons button {
        border: 1px solid transparent;
        outline: none;
        width: 200px;
        height: 45px;
        cursor: pointer;
        transition: var(--transition-default);
        background-color: transparent;
        /* color: var(--color-theme-1); */
    }

    header div.profile-nav div.profile-action-buttons button#profileBtn {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    header div.profile-nav div.profile-action-buttons button#logoutBtn {
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    header div.profile-nav div.profile-action-buttons button#profileBtn:hover {
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-color: var(--color-theme-1);
    }

    header div.profile-nav div.profile-action-buttons button#logoutBtn:hover {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        background-color: var(--color-theme-1);
    }

    header nav.main-header-nav ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        column-gap: 2rem;
        padding-right: 2rem;
    }

    header nav.main-header-nav ul li,
    a {
        cursor: pointer;
        font-size: 18px;
        transition: var(--transition-default);
    }

    header nav.main-header-nav ul li a:hover {
        text-decoration: underline;
        color: var(--default-link-font-color);
    }

    header nav div.login-btn {
        padding: 0 2rem;
        margin: auto 0;
        border-radius: 0.45rem;
        box-shadow: var(--box-shadow-thin);
        background-color: var(--color-theme-1);
        height: 80%;
        display: flex;
        align-items: center;
        float: inline-end;
        margin-right: 2rem;
        cursor: pointer;
    }

    header nav div.login-btn:hover {
        background-color: var(--color-theme-1-dark);
    }

    header nav div.login-btn li  a{
        font-weight: 600;
        color: var(--default-dark-font);
        transition: all ease-in-out 200ms;
    }
    
    header nav div.login-btn:hover li a {
        color: var(--background-light);
    }

    header nav div.login-btn-hide {
        display: none;
    }

    header nav div.login-btn-show {
        visibility: visible;
    }


    .hidden {
        display: none;
    }

}

@media (max-width: 768px) {


    header {
        display: grid;
        grid-auto-flow: column;
        gap: 10px;
        padding: 2px;
        border-bottom: 1px solid rgb(235, 233, 233);
    }

    header div.profile-nav {
        display: block;
        position: relative;
        cursor: pointer;
    }

    header div.profile-nav .current-user {
        width: 50%;
        border: 1px solid transparent;
        border-radius: 0.7rem;
        padding: 5px 0;
        /* margin-left: 5px; */
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    header div.profile-nav .current-user img.big_img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: 0.4rem;
        margin-inline: auto;
        z-index: 9999;
    }

    h2#current-user-name {
        display: none;
    }

    header div.profile-nav div.profile-action-buttons {
        position: absolute;
        top: 50px;
        left: 1px;
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        cursor: pointer;
        background-color: rgb(250, 251, 252);
        box-shadow: var(--box-shadow-thin);
    }

    header div.profile-nav div.profile-action-buttons button {
        border: 1px solid transparent;
        outline: none;
        width: 200px;
        height: 45px;
        cursor: pointer;
        transition: var(--transition-default);
        background-color: transparent;
    }

    header div.profile-nav div.profile-action-buttons button#profileBtn {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    header div.profile-nav div.profile-action-buttons button#logoutBtn {
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    header div.profile-nav div.profile-action-buttons button#profileBtn:hover {
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-color: var(--color-theme-1);
    }

    header div.profile-nav div.profile-action-buttons button#logoutBtn:hover {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        background-color: var(--color-theme-1);
    }

    header nav.main-header-nav ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        column-gap: 1rem;
        padding-right: 2rem;
    }

    header nav.main-header-nav ul li
    a {
        font-family: var(--default-font);
        cursor: pointer;
        font-size: 14px;
        transition: var(--transition-default);
    }

    header nav.main-header-nav ul li a:hover {
        text-decoration: underline;
        color: var(--default-link-font-color);
    }

    header nav div.login-btn {
        padding: 0 2rem;
        margin: auto 0;
        border-radius: 0.45rem;
        box-shadow: var(--box-shadow-thin);
        background-color: var(--color-theme-1);
        height: 80%;
        display: flex;
        align-items: center;
        float: inline-end;
        margin-right: 0.6rem;
        cursor: pointer;
    }

    header nav div.login-btn:hover {
        background-color: var(--color-theme-1-dark);
    }

    header nav div.login-btn li  a{
        font-family: var(--default-font);
        font-weight: 500;
        color: var(--default-dark-font);
        transition: all ease-in-out 200ms;
    }
    
    header nav div.login-btn:hover li a {
        color: var(--background-light);
    }

    .hidden {
        display: none;
    }

}