@media (max-width: 768px) {
    body {
        height: 100vh;

        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    }

    body::-webkit-scrollbar {
        width: 0.4rem;
        border-radius: 1rem;
    }

    body::-webkit-scrollbar-track {
        border-radius: 1rem;
        background-color: beige;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: var(--color-theme-2);
    }

    .container-main {
        height: 100vh;
        padding: 2rem 1rem;
        background-color: var(--background-light);
        margin: auto;
    }

}

@media (min-width: 768px) {
    body {
        height: 100vh;

        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    }

    body::-webkit-scrollbar {
        width: 0.4rem;
        border-radius: 1rem;
    }

    body::-webkit-scrollbar-track {
        border-radius: 1rem;
        background-color: beige;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: var(--color-theme-2);
    }

    .container-main {
        height: 100vh;
        padding: 0.3rem;
        background-color: var(--background-light);
        margin: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    section.left-sidenav {
        grid-column: 1 / 3;
        width: 100%;
        height: 93vh;
        background-color: var(--color-theme-2);
    }

    section.wrapper-main {
        grid-column: 3 / 13;
    }
    
}

