@media (max-width: 768px) {
    body {
        height: 100vh;

        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    }

    body::-webkit-scrollbar {
        width: 0.4rem;
        border-radius: 1rem;
    }

    body::-webkit-scrollbar-track {
        border-radius: 1rem;
        background-color: beige;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: var(--color-theme-2);
    }

    .container-main {
        /* height: 100vh; */
        height: fit-content;
        padding: 2rem 1rem;
        background-color: var(--background-light);
        margin: auto;
        display: block;
    }

    section.left-sidenav {
      display: none;
    }

    section.wrapper-main {
        grid-column: 3 / 13;
    }

}

@media (min-width: 768px) {
    body {
        height: 100vh;

        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    }

    body::-webkit-scrollbar {
        width: 0.4rem;
        border-radius: 1rem;
    }

    body::-webkit-scrollbar-track {
        border-radius: 1rem;
        background-color: beige;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: var(--color-theme-2);
    }

    .container-main {
        /* height: 100vh; */
        height: fit-content;
        padding: 0.3rem;
        background-color: var(--background-light);
        margin: auto;
    }

    .container_main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    section.left-sidenav {
        grid-column: 1 / 3;
        width: 100%;
        height: 93vh;
        /* background-color: var(--color-theme-2); */
        padding: 5px;
        display: flex;
        flex-flow: column;
        gap: 10px;
        border-right: 1px solid var(--background-white);
    }

    section.wrapper-main {
        grid-column: 3 / 13;
    }

    .actionsbar {
        width: 100%;
        min-height: 200px;
    }

    .actionsbar ul {
        width: 100%;
        margin-top: 1rem;
        display: grid;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .actionsbar ul li {
        background-color: transparent;
        border-radius: 0.7rem;
        min-width: 150px;
        min-height: 35px;
    }

    .actionsbar ul li a {
        min-width: 150px;
        min-height: 35px;
        padding-inline: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--default-dark-font);
    }


    .actionsbar ul li:hover {
        background-color: var(--background-white);
    }

    .custom-actions ul li a {
        display: flex;
        gap: 10px;
    }

    .custom-actions ul li a div.subs-profileImage img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .custom-actions ul li a p {
        font-size: 14px;

    }

    hr {
        background-color: var(--background-white);
        color: var(--background-white);
        background: var(--background-white);
        border-color: var(--background-white);
        width: 90%;
        margin: 0 auto;
    }

    .action-title-h2 {
        font-size: 1.2rem;
    }

}