@media (max-width: 768px) {
    body {
        height: 100vh;

        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    }

    body::-webkit-scrollbar {
        width: 0.4rem;
        border-radius: 1rem;
    }

    body::-webkit-scrollbar-track {
        border-radius: 1rem;
        background-color: beige;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: var(--color-theme-2);
    }

    .container-main {
        height: 100vh;
        padding: 2rem 1rem;
        background-color: var(--background-light);
        margin: auto;
    }

}

@media (min-width: 768px) {
    body {
        height: 100vh;

        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    }

    body::-webkit-scrollbar {
        width: 0.4rem;
        border-radius: 1rem;
    }

    body::-webkit-scrollbar-track {
        border-radius: 1rem;
        background-color: beige;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: var(--color-theme-2);
    }

    .container-main {
        height: 100vh;
        padding: 2rem 1rem;
        background-color: var(--background-light);
        margin: auto;
    }

    
}

