*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: robotoRegular, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol, li {
    list-style: none;
}

.header_container {
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 1px 2px #d4d4d49c;
    padding: 15px;
    display: flex;
    flex-flow: row;
    justify-content: end;
    align-items: center;
    column-gap: 1em;
}

.header_container .nav_button {
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 18px;
    transition: all ease-in-out .3s;
}

.header_container .nav_button:hover {
    box-shadow: 0px 3px 3px #f547479c;
    background: #f54747d5;
    color: #ffffff;
}

.main_container {
    padding: 1em 3rem;
    background-color: #faf8f8;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    overflow-x: wrap;
}


#usertviewlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div.link_object {
    margin: 10px 0;
    width: 325px;
    height: 280px;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 10px;
}

div.link_object:hover {
    box-shadow: 0px 3px 3px slategrey;
}

div.link_object .first_child_link {
    /* background-color: pink; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    position: relative;
}

.link_object .first_child_link .video_thumbnail {
    grid-row: 1 / span 2;
}

.link_object .first_child_link .video_thumbnail img {
    width: 100%;
    height: 90%;
    
}

.link_object .first_child_link .video_duration {
    color: white;
    font-size: 14px;
    text-align: center;
    display: grid;
    place-items: center;
    position: absolute;
    min-width: 50px;
    padding-inline: 2px;
    height: 20px;
    bottom: 117px;
    right: 11px;
    border-radius: 5px;
    box-shadow: 0x;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.918);
}

.link_object .first_child_link .video_details {
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px 5px;
}


.video_details .creator_profile_image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.video_details .video_information_div {
    grid-column: 2 / span 5;
    display: flex;
    flex-flow: column;
    font-size: 14px;
}

.video_information_div .video_title {
    font-size: 14px;
}

.video_details .video_view_and_date {
    display: flex;
    column-gap: 1em;
}