:root {
    --dark-grey: rgba(180, 179, 179, 0.889);
    --box-shadow-wide: 0px 3px 30px var(--dark-grey);
    --box-shadow-thin: 0px 3px 3px var(--dark-grey);
    --box-shadow-extra-thin: 0px 3px 3px rgba(223, 221, 221, 0.834);
    --button-width-desktop: 120px;
    --button-height-desktop: 40px;
    --button-color-blue: rgba(14, 14, 185, 0.918);
    --border-radius-default: 7px;
    --border-radius-image: 50%;
    --background-light: rgb(241, 237, 237);
    --background-white: #ffffff;
    --error-message: rgb(100, 206, 105);
    --default-dark-font: rgb(13, 13, 13);
    --default-link-font-color: rgba(248, 35, 35, 0.764);
    --color-theme-1: rgba(57, 250, 250, 0.941);
    --color-theme-1-dark: rgba(30, 119, 119, 0.941);
    --color-theme-2: rgba(2, 62, 62, 0.941);
    --color-theme-3: rgba(19, 13, 38, 0.941);
    --transition-default:  all ease-in-out 250ms;
}

@font-face {
    font-family: robotoRegular;
    src: url('/font/roboReg.ttf');
}

ul,
ol,
li {
    list-style: none;
}


* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--default-dark-font);
}

* {
    outline: none !important;
    font-family: robotoRegular;
}

body {
    background-color: #fffbfb;
}

.hidden {
    display: none;
}