* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: #dfdddd;
    padding: 1em 1.5em;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    place-items: center;
}

main > div {
    padding: 1em;
    display: grid;
}

@media (min-width: 869px) {
    main > div {
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 868px) {
    main > div {
        aspect-ratio: 2/3;
    }
}

.error_message_div {
    background-color: aliceblue;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    height: fit-content;
    padding: 10px;
    font-size: 14px;
    color: var(--error-message);
}

main > div > form {
    background: #fff;
    min-width: 300px;
    padding: 1em;
    display: grid;
    row-gap: 1em;
}

div.form_title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

form > * {
    display: grid;
    row-gap: 5px;
    
}

label {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 10px;
}

input {
    border: 1px solid rgb(5, 88, 196);
    text-indent: 10px;
    font-size: 14px;
    border-radius: var(--border-radius-default);
    outline: 1px solid var(--error-message);
    height: var(--button-height-desktop);
}

input[type="submit"] {
    background-color: #2846ee;
    color: #fff;
    border: transparent;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: rgb(66, 140, 236);
}

input#ppic {
    border: transparent;
    margin: auto;
    
}

fieldset {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
}

legend {
    padding: 10px;
    margin: 0 10px;
}
.gender_div {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
}

div.default_image_div{
    display: grid;
    place-items: center;
}

.default_image {
    border-radius: 50%;
}