@media (max-width: 768px) {

    h1.page-title-upload {
        text-align: center;
        font-size: 16px;
    }

    main section.upload-form-section {
        display: grid;
        justify-content: center;
        align-items: top;
        height: 100%;
        width: 100%;
        margin: 3px 0 0 0;
    }

    section.upload-form-section form#upload_form {
        /* box-shadow: var(--box-shadow-thin); */
        min-width: 90vw;
        margin-inline: auto;
        height: 90%;
        display: grid;
        row-gap: 5px;
    }

    form#upload_form fieldset {
        background-color: var(--background-white);
        box-shadow: var(--box-shadow-extra-thin);
        border-radius: 0.4rem;
        padding: 5px 7px;
        border: none;
        display: flex;
        flex-wrap: wrap;
        column-gap: 0.5rem;
        align-items: center;
    }

    form#upload_form fieldset label {
        text-align: justify;
    }
    
    form#upload_form fieldset input[type="text"], form#upload_form fieldset select{
        width: 100%;
        height: 35px;
        border-radius: 0.3rem;
        border: 1px solid var(--dark-grey);
    }

    form#upload_form fieldset input[type="file"] {
        text-transform: lowercase;
        color: var(--color-theme-2);
    }

    form#upload_form input[type="submit"] {
        width: 60vw;
        height: 35px;
        border-radius: 0.4rem;
        padding: 3px 10px;
        margin-inline: auto;
        border: 1px solid transparent;
        background-color: var(--color-theme-1);
        box-shadow: var(--box-shadow-thin);
        cursor: pointer;
        font-weight: 500;
        transition: all ease-in-out 250ms;
    }


    form#upload_form input[type="submit"]:hover,
    form#upload_form input[type="submit"]:focus {
        border: 1px solid var(--color-theme-2);
        background-color: var(--background-white);
        box-shadow: 0px 3px 3px transparent;
        color: var(--color-theme-2);
    }
}