<section class="comments_container">
    <form action="#" method="post" id="input-comment-form">
        <textarea name="comment-message" id="comment-message-input" cols="30" rows="5"
            placeholder="type a reply here" required></textarea>
        <button type="submit" id="postBtn">
            <img src="/graphics/arrow" alt="post" id="postBtnImg" width="20px" height="20px">
        </button>
    </form>
    <ul class="ul-main" id="ul-main"></ul>
</section>