


<footer>
    <div class="footer_navigation">
    
      
         <div>
            <ul>
            <li><a href="#"> About us
                <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco <br>laboris nisi ut aliquip ex ea commodo consequat. <br>Duis aute irure dolor in reprehenderit in voluptate velit<br> esse cillum dolore eu fugiat nulla pariatur. <br>Excepteur sint occaecat cupidatat non proident, sunt in culpa<br> qui officia deserunt mollit anim id est laborum."</p>
            </a></li>
             </ul>

        </div>

            <div class="links">
        <u1>

            <li><a href="#"><span id="line">&#8250;</span>Terms and Conditions</a></li>
            <hr id="line">
            <li><a href="#"><span id="line">&#8250;</span>Privacy Policy</a></li>
            <hr id="line">
            <li><a href="#"><span id="line">&#8250;</span>Report Abuse</a></li>
            <hr id="line">
            <li><a href="#"><span id="line">&#8250;</span>Jobs</a></li>
            <hr id="line">
            </div>
        </ul>
        <div class="icons" >
    
        <i  class="fa fa-youtube fit" id="ytb" stle="color:#d90222;  background-color: white; border-radius: 12px; border:1px solid black; border: none; outline:none; " > </i>
        <i class="fa fa-instagram fit" id="ig" stle="border-radius: 12px ;background-image:linear-gradient( 180deg, #8A3AB9,#BC2A8D,#CD486B,#E4405F,#BC2A8D,#E95950,#FBAD50, #FCC663,#FFFC00); color: white; " id="fit"></i>
        <i class="fa fa-whatsapp fit " id="wat" stle="color: white;background-color:#25d366; border-radius: 12px;" ></i>
        <i class="fa fa-github  fit" id="git" stle="background-color: black; color: white; border-radius: 12px;"  ></i>
        <i class="fa fa-twitter fit"  id="twit" stle="background-color:#08a0e9 ;color: white; border-radius: 12px;" ></i>

        </div >
        

        
        
    </div>
    <div class="rowe">
    <div class="row">
        <input type="text" id="input-box" placeholder="newsletter" >
        <button>so</button>
        </div>
    </div>    
    
    <div class="copyright">copyright &copy; niicodes 2023</div>
    <script src="/js/global-footer"></script>
</footer>