<footer>
    <div class="footer_navigation">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Report Abuse</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Jobs</a></li>
        </ul>
    </div>
    <div class="copyright">copyright &copy; niicodes 2023</div>
</footer>