<header>
    <img src="/images/tagsbg.jpg" alt="example_img" class="big_img">
    <div class="profile-action-buttons" id="profile-action-buttons">
        <button type="submit" id="profileBtn">Profile</button>
        <button type="submit" id="logoutBtn">Logout</button>
    </div>
    <nav>
        <ul>
            <li><a href="/nav/upload_video">Upload</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </nav>
<script src="/js/signInAuth" defer></script>
</header>