<header>
    <nav class="main-header-nav" id="main-header-nav">
        <ul id="ul-li-a">
            <li><a href="/">Home</a></li>
        </ul>

        <!-- dynamicaly render this section based on loginState -->
    </nav>
    
    <div class="profile-nav">
        <div class="current-user" id="current-user">
            <img src="/images/tagsbg.jpg" alt="example_img" class="big_img" id="big_img">
            <h2 class="current-user-name" id="current-user-name">User</h2>
        </div>
        <div class="profile-action-buttons hidden" id="profile-action-buttons">
            <button type="submit" class="hidden" id="profileBtn">Profile</button>
            <a href="/nav/upload_video"><button type="submit" class="hidden" id="uploadBtn">Upload</button></a>
            <a href="/user/settings"><button type="submit" class="hidden" id="settingBtn">Settings</button></a>
            <button type="submit" class="hidden" id="logoutBtn">Logout</button>
        </div>
    </div>
    
    <script src="/js/signInAuth" defer></script>
    <script>
        document.getElementById("current-user").addEventListener("click", (e) => {
            e.preventDefault();

            //remove hidden if it is hidden
            toggleDisplay(["profile-action-buttons", "profileBtn", "logoutBtn", "uploadBtn", "settingBtn"]);
            
        })


        function toggleDisplay(array) {
            if (document.getElementById(array[0]).classList.contains("hidden")) {
                for (let item of array) {
                    document.getElementById(item).classList.remove("hidden");
                }
            }
            else {
                for (let item of array) {
                    document.getElementById(item).classList.add("hidden");
                }
            }
        }
    </script>
</header>