<div>
    <form action="/update/name" method="post">
        <input type="hidden" name="userId" value="<%= userId %>">
        <div>
            <label for="firstname">*First name</label>
            <input type="text" name="firstname" id="firstname" required>
        </div>

        <div>
            <label for="lastname">*Last name</label>
            <input type="text" name="lastname" id="lastname" required>
        </div>

        <div>
            <input type="submit" value="Next" id="next-btn">
        </div>
    </form>
</div>