<div>
    <form action="/update/gender" method="post">
        <input type="hidden" name="userId" value="<%= userId %>">
            <fieldset>
                <legend>Gender</legend>

            <div class="gender_div">
                <input type="radio" name="gender" id="male" value="male" required>
                <label for="male">Male</label>
            </div>

            <div class="gender_div">
                <input type="radio" name="gender" id="female" value="female" required>
                <label for="female">Female</label>
            </div>
            </fieldset>

        <fieldset>
            <legend>Date of Birth</legend>
            <label for="dob">DOB</label>
            <input type="date" name="dob" id="dob">
        </fieldset>

        <input type="submit" value="Next" id="next-btn">
    </form>
</div>