<div>
    <% if (error==true && msg == "Account Suspended") { %>
        <div class="error_message_div">
            <p>Account Suspended</p>
            <a href="/account/recover?v=t" style="color: red;" id="recoverAcc">Click here to reactivate your Account</a>
            <script>
                document.getElementById("recoverAcc").addEventListener("mouseenter", (e)=> {
                    e.target.style.color = "blue";
                    setTimeout(()=> {
                        e.target.style.color = "red";
                    },2000)
                })
            </script>
        </div>
        <% }  else  { %>
            <div class="error_message_div">Incorrect usernmae or password</div>
            <% } %>
            <form action="/userlogin" id="form" method="post">
                <div class="form_title">Login</div>
                <div class="input-field">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="user-input" required>
                </div>

                <div class="input-field">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="user-input" required>
                </div>

                <div class="forgot-password-div">
                    <small><a href="/user/password/reset/null" class="signup" id="forgot-href">Forgot Password</a></small>
                </div>
                <div class="create-account-div">
                    <p>Don't have an account? <a href="/signup" class="signup">Sign Up</a> here</p>
                </div>
                <div><input type="submit" value="Next" id="next-btn"></div>
            </form>
            <script>
                for (let input of document.querySelectorAll(".user-input")) {
                    input.addEventListener("click", (e) => {
                        if (e.target.previousElementSibling.style.display != "none") {
                            e.target.previousElementSibling.style.display = "none";
                        }
                    })
                    input.addEventListener("change", (e) => {
                        if (e.target.previousElementSibling.style.display != "none") {
                            e.target.previousElementSibling.style.display = "none";
                        }
                    })
                }
            </script>
</div>