<div>
    <% if (error==true) { %>
        <div class="error_message_div">Incorrect usernmae or password</div>
        <% } %>
            <form action="/userlogin" method="post">
                <div class="form_title">Login</div>
                <div class="input-field">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="user-input" required>
                </div>

                <div class="input-field">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="user-input" required>
                </div>

                <div class="create-account-div">
                    <p>Don't have an account? <a href="/signup" class="signup">Sign Up</a> here</p>
                </div>
                <div><input type="submit" value="Next" id="next-btn"></div>
            </form>
            <script>
                for (let input of document.querySelectorAll(".user-input")) {
                    input.addEventListener("click", (e)=>{
                        if (e.target.previousElementSibling.style.display != "none") {
                            e.target.previousElementSibling.style.display = "none";
                        }
                    })
                    input.addEventListener("change", (e)=>{
                        if (e.target.previousElementSibling.style.display != "none") {
                            e.target.previousElementSibling.style.display = "none";
                        }
                    })
                }
            </script>
</div>