<div>
    <% if (error == true) { %>
     <div class="error_message_div">Incorrect usernmae or password</div>
    <% } %>
    <form action="/userlogin" method="post">
        <div class="form_title">Login</div>
        <div>
            <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        </div>

       <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
       </div>

        <div>
            <p>Don't have an account? <a href="/signup">Sign Up</a> here</p>
        </div>
        <div><input type="submit" value="Next"></div>
    </form>
</div>