<div>
    <form action="/update/ppic" method="post" enctype="multipart/form-data">
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="file" name="ppic" id="ppic" accept="image/jpeg, image/jpg, image/png, image/gif">
    
        <input type="submit" value="Next">
    </form>
    
</div>