<div>
    <% if (error==true) { %>
        <div class="error_message_div"><%= msg %></div>
    <% } %>

    <form action="/userSignup" method="post">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>

        <div>
            <p>Already have an account? <a href="/login">Log In</a></p>
        </div>
        <div>
            <input type="submit" value="Next" id="next-btn">
        </div>
    </form>
</div>