<div>
    <form action="/update/username" method="post">
        <input type="hidden" name="userId" value="<%= userId %>">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>

        <div>
            <input type="submit" value="Next">
        </div>
    </form>
</div>